  <footer style="color: whitesmoke" class="footer">
    <div class="content has-text-centered">
      Feel free to use this application in any manner you see fit.
      <br>
      Written By Christopher J. Gambrell
      <br>
      <a href="https://bulma.io/" target="_blank">
        <img src="made-with-bulma.png" width="128" height="24" alt="Made with Bulma">
      </a>
    </div>
  </footer>
</body>
</html>
