<% include partials/header %>

<section class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 style="font-size: 2.5em" class="title">
        WeatherApp
      </h1>
      <h2 style="font-size: 1.5em" class="subtitle">
        I wanted to create a quick and easy application with the possibility of expanding it with a few additional features.
        Currently this just shows you the weather in a specific location!SS
      </h2>
      
    </div>
  </div>
</section>

<% include partials/footer %>
