<% include partials/header %>

<section class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 style="font-size: 2.5em" class="title">
        WeatherApp
      </h1>
      <h2 style="font-size: 1.5em" class="subtitle">
        I wanted to create a quick and easy application with the possibility of expanding it with a few additional features.
        Currently this just shows you the weather in a specific location!
      </h2>
    </div>
  </div>
</section>

<br>

<section>
  <div class="container">
    <h1 class="title">Instructions</h1>
    <h2 class="subtitle">Enter your zipcode below to look at the weather!</h2>
    <div class="columns">
      <div class="column">
        <form class="" action="index.html" method="post">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <input class="input" type="text" name="" placeholder="zipcode">
              </div>
              <div class="field">
                <button class="button is-link" type="submit" name="button">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</section>

<% include partials/footer %>
