<% include partials/header %>

<section class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 style="font-size: 2.5em" class="title is-size-1">
        Weather Application
      </h1>
      <h2 style="font-size: 1.5em" class="subtitle is-size-3">
        Simple weather lookup web application
      </h2>
    </div>
  </div>
</section>

<br>

<section style="margin:10px;">
  <div class="container">
    <h1 class="title">Instructions</h1>
    <h2 class="subtitle">Enter your zipcode below to look at the weather!</h2>
    <div class="columns">
      <div class="column">
        <form action="/weather" method="GET">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <input class="input" type="text" name="zipcode" placeholder="zipcode">
              </div>
              <div class="field">
                <button class="button is-link" type="submit" name="button">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</section>
<br>

<section style="margin: 10px;">
  <div class="container">
    <h1 class="title">About</h1>
    <h2 class="subtitle">This project uses the <a href="https://openweathermap.org/api" target="_blank">OpenWeatherMap API</a> to display relevant information regarding a specified location's weather.</h2>
    <div class="columns">
      <div class="column">
        <ul style="list-style-type: square">
          <li>
              The app relies heavily on the <strong>Current</strong> and <strong>5-Day Forecast</strong> endpoints to deliver accurate information.
          </li>
          <li>
            Future plans to support location based <strong>Bad Weather Alerts</strong>!
          </li>
        </ul>
      </div>
      <div class="column">
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</section>
<br>

<% include partials/footer %>
